<%- include('../partials/_header.ejs'); %>
<div class="container">
    <h2>Funda agregada con éxito!</h2>
    <a href="/">
        <button class="btn btn-success mt-5">Regresar al inicio</button>
    </a>
</div>
<%- include('../partials/_footer.ejs'); %>