<%- include('../partials/_header.ejs'); %>

<div class="container">
  <h2 class="text-center"> ¡Funda eliminada con éxito!</h2>
  <a href="/">
    <button class="btn btn-success mt-5">Regresar al inicio</button>
  </a>
</div>


<%- include('../partials/_footer.ejs'); %>