<%- include('../partials/_header.ejs'); %>
<div class="container my-5 d-flex align-items-center flex-column">
    <h2 class="text-center">Funda editada con éxito!</h2>
    <%- include('../partials/_back-opts.ejs'); %>
</div>
<%- include('../partials/_footer.ejs'); %>