* {
    font-family: 'Martel', serif;
}

.fundas_opcion{
    transition: transform .2s;
}

.fundas_opcion a {
    color: black;
}

.fundas_opcion a:hover{
    text-decoration: none;
}

.fundas_opcion:hover{
    transform: scale(1.06);
}

.case-card ul{
    list-style: none;
    padding-inline-start: 0;
}

.case-card img {
    height: 348px;
}



@media (max-width: 576px){
    .fundas_opcion .card-body{
        min-height: 196px;
    }
}
