* {
    font-family: 'Martel', serif;
}

.index_container {
    height: 100vh;
    display: flex;
    align-items: center;
}

.index_catalog {
    background-color: #FFD300;
    min-height: 100vh;
}

.index__see-cat a {
    color: black;
}

.btn-login {
    border-color: green;
    border-radius: 30px;
}

.btn-back {
    height: 65px;
    width: 100%;
}

.fundas_opcion{
    transition: transform .2s;
    margin-bottom: 80px;
}

.fundas_opcion .card-body {
    min-height: 124px;
}

.fundas_opcion a {
    color: black;
    border: 1px solid gray;
}

.fundas_opcion a:hover{
    text-decoration: none;
}

.fundas_opcion:hover{
    transform: scale(1.06);
}

.case-card ul{
    list-style: none;
    padding-inline-start: 0;
}

.case-card img {
    height: 348px;
}



@media (max-width: 576px){
    .fundas_opcion .card-body{
        min-height: 196px;
    }
}

