<div class="row">
  <div class="col-6">
    <a href="/admin">
      <button class="btn btn-success btn-back mt-5">Regresar al <br> Inicio</button>
    </a>
  </div>
  <div class="col-6">
    <a href="/admin/catalog">
      <button class="btn btn-success btn-back mt-5">Ir al Catalogo</button>
    </a>
  </div>
</div>