<div class="row">
  <div class="col-6">
    <a href="/admin">
      <button class="btn btn-success mt-5">Regresar al Inicio</button>
    </a>
  </div>
  <div class="col-6">
    <a href="/fundas">
      <button class="btn btn-success mt-5">Regresar al Catalogo</button>
    </a>
  </div>
</div>