<div class="container pt-5">
    <h2 class="text-center">Agregar nuevo cliente</h2>
    <div class="row justify-content-center">
        <div class="col-4">
            <form action="/links/add" method="POST">
                <div class="form-group">
                    <label for="nCliente">Nombre del cliente</label>
                    <input type="text" class="form-control" id="nCliente" required autofocus>
                </div>
                <div class="form-group">
                    <label for="apellidoCliente">Apellido</label>
                    <input type="text" class="form-control" id="apellidoCliente" required>
                </div>
                <div class="form-group">
                    <label for="direccionCliente">Dirección</label>
                    <input type="text" class="form-control" id="direccionCliente" required>
                </div>
                <div class="form-group">
                    <label for="telefonoCliente">Teléfono</label>
                    <input type="number" class="form-control" id="telefonoCliente" required>
                </div>
                <div class="form-group">
                    <label for="correoCliente">Correo</label>
                    <input type="email" class="form-control" id="correoCliente" required>
                </div>
                <button type="submit" class="btn btn-success btn-block">Guardar</button>
            </form>
        </div>
    </div>
</div>